/* Job Hunting AI Tool: App.css
 * Members: Masaki Nishi, Christian McKinnon, Susan Joh, and Alexander Wong
 * Project Partner: Professor Gates
 * CS 467 Portfolio Project */

/* App.css applies the global styles to each page of our project */

/* --- Google Font Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Serif&family=Roboto:wght@100;400;700&display=swap');

/* --- Custom Colors --- */
:root {
  --black: #000000; /* Standard Black */
  --blue: #ced8ed;
  --darker-blue: #698be1;
  --white: #FFFFFF;
}

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* fonts */

body {
  font-family: "Manrope", sans-serif;
}

.main-title {
  font-size: 30px;
}

nav {
  font-size: 20px;
}

#job-search {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: var(--darker-blue);
}

/* Style settings for the submission button */
button {
  background: none;
  border-color: var(--darker-blue);
  border-radius: 12px;
  color: var(--darker-blue);
  padding: 10px 8px;
  font-weight: bold;
  font-size: 18px;
  width: 220px;
  margin-top: 30px;
}

/* Hover styles that invert the colors */
button:hover{
  background-color: var(--darker-blue);
  border-color: var(--white);
  color: var(--white);
  cursor: pointer;
}

/* Style Placement for Buttons on HomePage */

.button-container button:first-child {
  width: 150px;
}

.button-container button:last-child {
  width: 90px;
  margin-left: 20px;
}

/* Home page title */

#home-title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
}

/* Results page title */

#results-title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* general section layout */

header {
  padding: 25px 10px 0;
  width: 100%;
  height: 100px;
  border-bottom: 1.5px solid gray;
}

footer {
  background-color: var(--blue);
  padding: 40px 30px 0;
  height: 130px;
}

.App {
  margin: 100px 25px;
}

/* header */

header * {
  float: left;
}

header img {
  width: 52px;
  height: 52px;
  margin-left: 35px;
  margin-right: 35px;
}

header span {
  margin-left: 50px;
  margin-top: 10px;
}

header nav {
  float: right;
  margin-right: 30px;
}

.nav-link {
  margin: 16px 30px 0;
}

/* footer */

footer * {
  float: left;
}

footer span {
  margin-top: 20px;
}

footer section {
  align-items: center;
  width: 70px;
  float: right;
  margin-right: 30px;
}

footer img {
  width: 48px;
  margin-left: 8px;
  margin-bottom: 3px;
}

/* All pages */

.main-text {
  padding-top: 120px;
  width: 44%;
  margin-left: 28%;
  margin-right: 28%;
  margin-bottom: 30px;
  font-size: 18px;
}

/* Home page */

#home-title {
  padding-top: 40px;
  margin-left: 15%;
  max-width: 500px;
  text-align: center;
}

.textbox-container {
  width: 640px;
  height: 70px; 
  padding: 10px;
  font-size: 16px;
}

#home-container {
  margin-bottom: 100px;
  font-size: 18px;
}

.instructions {
  margin-left: 50%;
}

.questions {
  margin-bottom: 48px;
}

/* POP-UP button on Home page */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content {
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 30px;
  font-size: 20px;
}

.modal-content p {
  margin-bottom: 5px;
}

.modal-content button {
  align-items: center;
  padding: 15px 0;
  margin: 20px 8px 0;
}

/* Results page */

#results-title {
  margin-left: 20px;
}

.input-details {
  text-align: right;
  margin-right: 40px;
}

#selections {
  margin-right: 8%;
  font-size: 20px;
}

.detail-item {
  margin-right: 2%;
  font-size: 18px;
}

#result-title {
  margin-top: 50px;
  margin-bottom: 48px;
  font-size: 22px;
}

.results-objects {
  margin-bottom: 40px;
}

/* About page */

.about-para {
  margin-bottom: 180px;
}


/* Links page */

#links-text {
  text-align: center;
  margin-bottom: 14%;
  font-size: 26px;
}